PORT=3333
DATABASE_URL="mysql://root:dockersql@localhost:3332/portal_aluno"
JWT_SECRET="local_dev_secret_replace_with_at_least_32_random_chars"
NODE_ENV=development
CORS_ORIGIN="http://localhost:5173"
